@model Model.EF.CANBO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/CanBo/Views/Shared/_Layout2.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CANBO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MACB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MACB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAIKHOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAIKHOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATKHAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENCB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENCB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIOITINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOITINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMND_CCCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND_CCCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUANTRI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTRI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAXOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAXOA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
