@using QLKyTucXa.Models
@model IEnumerable<Phong>

@{
    ViewBag.Title = "Tra Cứu Phòng";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}

<div>
    <!-- Inner Banner Start -->
    <div class="at-haslayout at-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-12">
                    <div class="at-innerbannercontent">
                        <div class="at-title"><h2>Tra Cứu Phòng</h2></div>
                        <ol class="at-breadcrumb">
                            <li><a href="~/Student/Home/Index">Trang Chủ</a></li>
                            <li>Kết quả tra cứu phòng</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->
    <!-- Inner Banner Start -->
    <div class="at-innerbanner-holder at-haslayout at-innerbannersearch">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="at-innerbanner-search">
                        <form class="at-formtheme at-form-advancedsearch">
                            <fieldset>
                                <div class="form-group">
                                    <div class="at-select">
                                        <select>
                                            <option value="" hidden="">Where You Want To Stay</option>
                                            <option value="twitter">China</option>
                                            <option value="linkedin">France</option>
                                            <option value="rss">Germany</option>
                                            <option value="vimeo">Italy</option>
                                            <option value="tumblr">Japan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group at-checkin-holder at-datecheck">
                                    <input type="text" id="at-startdate" class="form-control" placeholder="in">
                                </div>
                                <div class="form-group at-checkout-holder at-datecheck">
                                    <input type="text" id="at-enddate" class="form-control" placeholder="out">
                                </div>
                                <div class="at-btnarea">
                                    <a href="javascript:void(0);" class="at-btn at-btnactive">Search Now</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Home Slider End -->
    <!-- Main Start -->
    <main id="at-main" class="at-main at-haslayout">
        <!-- Two Columns Start -->
        <div class="at-haslayout at-main-section">
            <div class="container">
                <div class="row">
                    <div id="at-twocolumns" class="at-twocolumns at-haslayout">
                        <!-- #region Menu phải -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-4 float-right">
                            <aside id="at-sidebar" class="at-sidebar float-left mt-md-0">
                                <div class="at-sideholder">
                                    <a href="javascript:void(0);" id="at-closesidebar" class="at-closesidebar"><i class="ti-close"></i></a>
                                    <div class="at-sidescrollbar">
                                        <div class="at-widgets-holder">
                                            <div class="at-widgets-title">
                                                <h2>MENU Phải</h2>
                                            </div>
                                            <div class="at-widget">
                                                <div class="at-widgettitle at-collapsetitle" id="headingonea" data-toggle="collapse" data-target="#collapseone1" aria-expanded="true" aria-controls="collapseone1" role="heading">
                                                    <h3>Number Of Guests:</h3>
                                                </div>
                                                <div class="at-collapseholder collapse show" id="collapseone1" aria-labelledby="headingonea">
                                                    <div class="at-widgetcontent">
                                                        <div class="at-searchcontent">
                                                            <div class="at-selectholder">
                                                                <div class="at-select">
                                                                    <select>
                                                                        <option value="" hidden="" selected="">No. of Adults</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                    </select>
                                                                </div>
                                                                <div class="at-select">
                                                                    <select>
                                                                        <option value="" hidden="" selected="">No. of Children (Ages 2–12)</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                    </select>
                                                                </div>
                                                                <div class="at-select">
                                                                    <select>
                                                                        <option value="" hidden="" selected="">No. of Infants (Under 2)</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="at-widget">
                                                <div class="at-widgettitle at-collapsetitle" id="headingoneb" data-toggle="collapse" data-target="#collapseone2" aria-expanded="true" aria-controls="collapseone1" role="heading">
                                                    <h3>Room Type:</h3>
                                                </div>
                                                <div class="at-collapseholder collapse show" id="collapseone2" aria-labelledby="headingoneb">
                                                    <div class="at-widgetcontent">
                                                        <div class="at-searchcontent">
                                                            <div class="at-room-radioholder at-room-radioholdervtwo">
                                                                <span class="at-radio">
                                                                    <input id="at-private" type="radio" name="shared" checked="">
                                                                    <label for="at-private">
                                                                        <img src="~/Assets/Student/images/radio-imgs/img-07.jpg" alt="img">
                                                                        <span><em>Private Room</em> (58,1250)</span>
                                                                    </label>
                                                                </span>
                                                                <span class="at-radio">
                                                                    <input id="at-shared" type="radio" name="shared">
                                                                    <label for="at-shared">
                                                                        <img src="~/Assets/Student/images/radio-imgs/img-08.jpg" alt="img">
                                                                        <span><em>Shared Room</em> (31,5245)</span>
                                                                    </label>
                                                                </span>
                                                                <span class="at-radio">
                                                                    <input id="at-entire" type="radio" name="shared">
                                                                    <label for="at-entire">
                                                                        <img src="~/Assets/Student/images/radio-imgs/img-09.jpg" alt="img">
                                                                        <span><em>Entire Place</em> (22,4523)</span>
                                                                    </label>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="at-widgets-holder">
                                            <div class="at-widgets-title">
                                                <h2>Top Rated Listings</h2>
                                            </div>
                                            <div class="at-widgets-content">
                                                <ul class="at-toprated">
                                                    <li class="at-toprated-content">
                                                        <figure><img src="~/Assets/Student/images/featured-img/listing/img-08.jpg" alt="img description"></figure>
                                                        <div class="at-topratedlisting">
                                                            <div class="at-featured-tags"><a href="javascript:void(0);">Apartment</a> </div>
                                                            <div class="at-topratedtitle">
                                                                <h3>Mountain Retreat Room<span>$240 <em>/ night</em></span></h3>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="at-toprated-content">
                                                        <figure><img src="~/Assets/Student/images/featured-img/listing/img-09.jpg" alt="img description"></figure>
                                                        <div class="at-topratedlisting">
                                                            <div class="at-featured-tags"><a href="javascript:void(0);">Bed &amp; Breakfast</a> </div>
                                                            <div class="at-topratedtitle">
                                                                <h3>Balsam Fir Bungalow Suite<span>$120 <em>/ night</em></span></h3>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="at-toprated-content">
                                                        <figure><img src="~/Assets/Student/images/featured-img/listing/img-10.jpg" alt="img description"></figure>
                                                        <div class="at-topratedlisting">
                                                            <div class="at-featured-tags"><a href="javascript:void(0);">Condo</a> </div>
                                                            <div class="at-topratedtitle">
                                                                <h3>Portland-Plush Seperate Room<span>$80 <em>/ night</em></span></h3>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="at-toprated-content">
                                                        <figure><img src="~/Assets/Student/images/featured-img/listing/img-11.jpg" alt="img description"></figure>
                                                        <div class="at-topratedlisting">
                                                            <div class="at-featured-tags"><a href="javascript:void(0);">Apartment</a> </div>
                                                            <div class="at-topratedtitle">
                                                                <h3>Mountain Retreat Room<span>$240 <em>/ night</em></span></h3>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="at-toprated-content">
                                                        <figure><img src="~/Assets/Student/images/featured-img/listing/img-12.jpg" alt="img description"></figure>
                                                        <div class="at-topratedlisting">
                                                            <div class="at-featured-tags"><a href="javascript:void(0);">Condo</a> </div>
                                                            <div class="at-topratedtitle">
                                                                <h3><a href="javascript:void(0);"> Portland-Plush KING Room</a><span>$80 <em>/ night</em></span></h3>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="at-adholder">
                                            <figure class="at-adimg">
                                                <a href="javascript:void(0);">
                                                    <img src="~/Assets/Student/images/ad-img.jpg" alt="img description">
                                                </a>
                                                <figcaption><span>Advertisement  300px X 250px</span></figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <!-- #endregion End menu phải -->
                        <!-- #region Nội dung -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 float-left">
                            <!-- Properties List Start -->
                            <div class="at-showresult-holder">
                                <div class="at-resulttitle">
                                    <span>
                                        Kết quả tìm kiếm phòng:
                                        <strong>“House” In “Manchester”</strong>
                                    </span>
                                </div>
                                <div class="at-rightarea">
                                    <div class="at-select">
                                        <select>
                                            <option value="Sort By:" hidden="">Sắp xếp theo:</option>
                                            <option value="Sort By:">Sort By Date</option>
                                            <option value="Sort By:">Sort By Featured</option>
                                        </select>
                                    </div>
                                    <div class="at-gridlist-option">
                                        <a href="javascript:void(0);"><i class="ti-layout-grid2"></i></a>
                                        <a href="javascript:void(0);" class="at-linkactive"><i class="ti-view-list"></i></a>
                                        <a href="javascript:void(0);"><i class="ti-location-pin"></i></a>
                                        <a href="javascript:void(0);" id="at-btnopenclose" class="at-btnopenclose"><i class="ti-settings"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="at-properties-listing">
                                @foreach (var item in Model)
                                {
                                    <div class="at-featured-holder">
                                        <div class="at-featuredslider owl-carousel">
                                            <figure class="item">
                                                <a href="javascript:void(0);">
                                                    <img src="~/Assets/Student/images/featured-img/listing/@item.LoaiPhong.HinhAnh" alt="Hình ảnh phòng">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="at-featured-content">
                                            <div class="at-featured-head">
                                                <div class="at-featured-tags"><a href="javascript:void(0);">@item.Tang.Khu.LoaiKhu.TenLoaiKhu</a> </div>
                                                <div class="at-featured-title">
                                                    <h3>
                                                        @item.TenPhong
                                                        <span>@string.Format("{0:0,0}", item.GiaThue) vnđ</span>
                                                    </h3>
                                                </div>
                                                <ul class="at-room-featured">
                                                    <li><span><i><img src="~/Assets/Student/images/featured-img/icons/img-01.jpg" alt="img description"></i> @item.LoaiPhong.TenLoaiPhong</span></li>
                                                    <li><span><i><img src="~/Assets/Student/images/featured-img/icons/img-02.jpg" alt="img description"></i> 2 Giường trống</span></li>
                                                    <li><span><i><img src="~/Assets/Student/images/featured-img/icons/img-tang.png" alt="img description"></i> @item.Tang.TenTang</span></li>
                                                    <li><span><i><img src="~/Assets/Student/images/featured-img/icons/img-khu.png" alt="img description"></i> @item.Tang.Khu.TenKhu</span></li>
                                                </ul>
                                            </div>
                                            <div class="at-featured-footer">
                                                @if (item.DichVuPhong.Count > 0)
                                                {
                                                    <address>
                                                        Dịch vụ:
                                                        @foreach (var dichvu in item.DichVuPhong)
                                                        {
                                                            <span>@dichvu.DichVu.TenDichVu,</span>
                                                        }
                                                    </address>
                                                }
                                                <div class="at-share-holder">
                                                    <a href="javascript:void(0);"><i class="ti-more-alt"></i></a>
                                                    <div class="at-share-option">
                                                        <span>Chia sẽ:</span>
                                                        <ul class="at-socialicons">
                                                            <li class="at-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                                            <li class="at-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                                            <li class="at-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                                                            <li class="at-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                                        </ul>
                                                        <a href="javascript:void(0);">Đăng ký</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <nav class="at-pagination">
                                    <ul>
                                        <li class="at-prevpage"><a href="javascrip:void(0);"><i class="ti-angle-left"></i></a></li>
                                        <li class="at-active"><a href="javascrip:void(0);">1</a></li>
                                        <li><a href="javascrip:void(0);">2</a></li>
                                        <li><a href="javascrip:void(0);">3</a></li>
                                        <li><a href="javascrip:void(0);">4</a></li>
                                        <li><a href="javascrip:void(0);">...</a></li>
                                        <li><a href="javascrip:void(0);">50</a></li>
                                        <li class="at-nextpage"><a href="javascrip:void(0);"><i class="ti-angle-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Properties List End -->
                        </div>
                        <!-- #endregion End mội dung -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Two Columns End -->
    </main>
    <!-- Main End -->
</div>

