@model Model.EF.LICH_SU

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/CanBo/Views/Shared/_Layout2.cshtml";}


@section header{
    Cập Nhật Thông Tin Hỗ Trợ
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Nhập Thông Tin Cập Nhật</h5>
                </div>
                <div class="widget-content nopadding">
                    @using (Html.BeginForm())
                    {
                        <div class="form-horizontal">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)

                            <div class="control-group">
                                <label class="control-label">Mã Nhân Viên(<a class="text-error">*</a>):</label>
                                <div class="controls">
                                    @Html.DropDownList("ID_NHANVIEN", null, htmlAttributes: new { @class = "span11" })
                                    @Html.ValidationMessageFor(model => model.ID_NHANVIEN, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Mã Phòng(<a class="text-error">*</a>):</label>
                                <div class="controls">
                                    @Html.DropDownList("ID_PHONG", null, htmlAttributes: new { @class = "span11" })
                                    @Html.ValidationMessageFor(model => model.ID_PHONG, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Ngày chuyển(<a class="text-error">*</a>):</label>
                                <div class="controls">
                                    @Html.EditorFor(model => model.NGAYCHUYEN, new { htmlAttributes = new { @class = "span11" } })
                                    @Html.ValidationMessageFor(model => model.NGAYCHUYEN, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Lưu lại" class="btn btn-warning" />
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <p class="btn btn-info">@Html.ActionLink("Quay lại trang danh sách", "Index")</p>
</div>