<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="~/Assets/Student/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/Assets/Student/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Student/css/normalize.css">
    <link rel="stylesheet" href="~/Assets/Student/css/fontawesome/fontawesome-all.css">
    <link rel="stylesheet" href="~/Assets/Student/css/linearicons.css">
    <link rel="stylesheet" href="~/Assets/Student/css/themify-icons.css">
    <link rel="stylesheet" href="~/Assets/Student/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/Student/css/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Assets/Student/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/Assets/Student/css/tipso.css">
    <link rel="stylesheet" href="~/Assets/Student/css/lightpick.css">
    <link rel="stylesheet" href="~/Assets/Student/css/main.css">
    <link rel="stylesheet" href="~/Assets/Student/css/transitions.css">
    <link rel="stylesheet" href="~/Assets/Student/css/responsive-min.css">
    <script src="~/Assets/Student/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- LisJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>

    <!-- toast -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>
<body class="at-home">
    <div class="preloader-outer">
        <div class="at-preloader-holder">
            <img src="~/Assets/Student/images/loader.png" alt="laoder img">
            <div class="at-loader"></div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Wrapper Start -->
    <div id="at-wrapper" class="at-wrapper at-haslayout">
        <!-- Header Start -->
        <header id="at-header" class="at-header at-haslayout">
            <div class="at-topbarholder">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="at-topbar">
                                <div class="at-topcominfo">
                                    <a href="tel:(+1)2345678900" class="at-callnum"><em>Hot line:</em> 0971234567</a>
                                    <ul class="at-socialicons">
                                        <li class="at-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="at-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                        <li class="at-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                                        <li class="at-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="at-loginarea float-right">
                                    <a href="javascript:void(0);" class="at-loginoption" data-toggle="modal" data-target="#loginpopup">Đăng Nhập</a>
                                    <a href="javascript:void(0);" class="at-registeroption" data-toggle="modal" data-target="#registerpopup">Đăng Ký</a>
                                    <div class="at-detailsbtn-topbar">
                                        <a href="javascript:void(0);" class="at-btn at-btnactive">Hồ sơ</a>
                                        <em>OR</em>
                                        <a href="javascript:void(0);" class="at-btn at-btnactive at-btntwo" data-toggle="modal" data-target="#findproperty">Tìm Kiếm</a>
                                    </div>
                                    <div class="at-userlogin">
                                        <figure><img src="~/Assets/Student/images/user-img.png" alt="user img"></figure>
                                        <nav class="at-usernav">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="ti-dashboard"></i><span>Insights</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="ti-user"></i><span>Profile Settings</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="ti-align-justify"></i><span> My Properties</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="ti-settings"></i><span>Add Property</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="ti-shopping-cart"></i><span>Offers &amp; Mesages</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="ti-user"></i><span>Payments</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item-has-children page_item_has_children">
                                                    <a href="javascript:void(0);">
                                                        <i class="ti-email"></i><span>My Favorites</span>
                                                    </a>
                                                    <ul class="sub-menu">
                                                        <li><a href="javascript:void(0);">Favorites Type 1</a></li>
                                                        <li><a href="javascript:void(0);">Favorites Type 2</a></li>
                                                        <li><a href="javascript:void(0);">Favorites Type 3</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="ti-bookmark"></i><span>Privacy Settings</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="ti-shift-right"></i><span>Logout</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="at-navigationarea">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong class="at-logo">
                                <a href="~/Student/Home/Index">
                                    <img src="~/Assets/Student/images/logo_red.png" alt="QL - KTX">
                                </a>
                            </strong>
                            <div class="at-rightarea">
                                <nav id="at-nav" class="at-nav navbar-expand-lg">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="lnr lnr-menu"></i>
                                    </button>
                                    <div class="collapse navbar-collapse at-navigation" id="navbarNav">
                                        <ul class="navbar-nav">
                                            <li class="nav-item" at-navactive">
                                                <a href="~/Student/Home/Index">Trang Chủ</a>
                                            </li>

                                            <li class="menu-item-has-children page_item_has_children">
                                                <a href="javascript:void(0);">Sinh Viên</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="/Student/Home/TraCuuPhong">Tra Cứu Phòng</a>
                                                    </li>
                                                    <li>
                                                        <a href="propertygrid.html.htm">property grid</a>
                                                    </li>
                                                    <li>
                                                        <a href="propertygridmap.html.htm">propertygrid with map</a>
                                                    </li>
                                                    <li>
                                                        <a href="propertysingle.html.htm">property single</a>
                                                    </li>
                                                    <li class="menu-item-has-children page_item_has_children">
                                                        <a href="javascript:void(0);">Categories</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="javascript:void(0);">Show All</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">Apartment</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">Bed &amp; Breakfast</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">Condo</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">House</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">loft</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">Studio</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children page_item_has_children">
                                                <a href="javascript:void(0);">Phòng</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="propertylist.html.htm">property list</a>
                                                    </li>
                                                    <li>
                                                        <a href="propertygrid.html.htm">property grid</a>
                                                    </li>
                                                    <li>
                                                        <a href="propertygridmap.html.htm">propertygrid with map</a>
                                                    </li>
                                                    <li>
                                                        <a href="propertysingle.html.htm">property single</a>
                                                    </li>
                                                    <li class="menu-item-has-children page_item_has_children">
                                                        <a href="javascript:void(0);">Categories</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="javascript:void(0);">Show All</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">Apartment</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">Bed &amp; Breakfast</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">Condo</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">House</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">loft</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">Studio</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="nav-item">
                                                <a href="howitworks.html.htm">Xem hồ sơ</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="about.html.htm">Thông Báo</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="contactus.html.htm">Giới Thiệu</a>
                                            </li>
                                            <li class="menu-item-has-children page_item_has_children">
                                                <a href="javascript:void(0);" class="at-menu-icon">
                                                    <span>
                                                        <i></i>
                                                        <i></i>
                                                        <i></i>
                                                    </span>
                                                    <span class="at-navmorecontent">pages</span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="legalprivacy.html.htm">legal privacy</a>
                                                    </li>
                                                    <li class="menu-item-has-children page_item_has_children">
                                                        <a href="javascript:void(0);">blog</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="bloglist.html.htm">blog list</a>
                                                            </li>
                                                            <li>
                                                                <a href="bloggrid.html.htm">blog grid</a>
                                                            </li>
                                                            <li>
                                                                <a href="blogsingle.html.htm">blog single</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="404.html.htm">404 Error</a>
                                                    </li>
                                                    <li>
                                                        <a href="comingsoon.html.htm">comingsoon.html</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

        @RenderBody()

        <!-- Footer Start -->
        <footer id="at-footer" class="at-footer at-haslayout">
            <div class="at-fthreecolumn at-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 col-xl-4">
                            <div class="at-ffollow-holder">
                                <div class="at-fwidget-titile">
                                    <h3>Chúng tôi</h3>
                                </div>
                                <ul class="at-socialicons at-socialicons-white">
                                    <li class="at-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="at-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                    <li class="at-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                                    <li class="at-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <div class="at-fnewsletter">
                                    <div class="at-description">
                                        <p>Website nhằm theo giỏi các thông tin liên quan đến chổ ở của sinh viên tại kí túc xá</p>
                                        <p>
                                            SDT: 0971234567 <br />
                                            Email: QLKTX@gmail.com <br />
                                            Địa chỉ: 123, Lê Duẫn, Cần Thơ
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                            <div class="at-fwidget">
                                <div class="at-fwidget-titile">
                                    <h3>Giới Thiệu</h3>
                                </div>
                                <div class="at-fwidget-content">
                                    <ul>
                                        <li><a href="javascript:void(0);">Giới Thiệu</a></li>
                                        <li><a href="javascript:void(0);">Hướng Dẫn</a></li>
                                        <li><a href="javascript:void(0);">Lịch Sử Phát Triển</a></li>
                                        <li><a href="javascript:void(0);">Trang Sinh Viên</a></li>
                                        <li><a href="javascript:void(0);">Thông Tin Giá Thuê</a></li>
                                        <li><a href="javascript:void(0);">Văn Bản - Biểu Mẫu</a></li>
                                        <li><a href="javascript:void(0);">Lệ Phí</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                            <div class="at-fwidget">
                                <div class="at-fwidget-titile">
                                    <h3>Sự Kiện</h3>
                                </div>
                                <div class="at-fwidget-content">
                                    <ul>
                                        <li><a href="javascript:void(0);">Tin Tức</a></li>
                                        <li><a href="javascript:void(0);">Du Học</a></li>
                                        <li><a href="javascript:void(0);">Liên Thông</a></li>
                                        <li><a href="javascript:void(0);">Hướng Nghiệp</a></li>
                                        <li><a href="javascript:void(0);">Rèn Luyện</a></li>
                                        <li><a href="javascript:void(0);">Ngoại Khóa</a></li>
                                        <li><a href="javascript:void(0);">Câu Lạc Bộ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-4">
                            <div class="at-ffollow-holder">
                                <div class="at-fwidget-titile">
                                    <h3>Theo dõi chúng tôi</h3>
                                </div>
                                <ul class="at-socialicons at-socialicons-white">
                                    <li class="at-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="at-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                    <li class="at-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                                    <li class="at-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <div class="at-fnewsletter">
                                    <div class="at-fwidget-titile">
                                        <h3>Nhận thông báo</h3>
                                    </div>
                                    <div class="at-description">
                                        <p>Vui lòng đăng ký email của bạn để nhận thông báo khi có tin mới</p>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="địa chỉ email của bạn" required="">
                                        <button type="submit" class="at-submitbtn"><i class="ti-email"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="at-footerbottom at-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="at-copyrights-holder">
                                <div class="at-flogoarea">
                                    <strong class="at-flogo"><a href="index.html.htm"><img src="~/Assets/Student/images/flogo.png" alt="footer logo"></a></strong>
                                    <p class="at-copyrights">Copyrights © 2024 - HE THONG QUAN LY KI TUC XA.</p>
                                </div>
                                <div class="at-rightarea">
                                    <figure class="at-payment-icons">
                                        <img src="~/Assets/Student/images/payment-icon/img-01.jpg" alt="img description">
                                        <img src="~/Assets/Student/images/payment-icon/img-02.jpg" alt="img description">
                                        <img src="~/Assets/Student/images/payment-icon/img-03.jpg" alt="img description">
                                        <img src="~/Assets/Student/images/payment-icon/img-04.jpg" alt="img description">
                                        <img src="~/Assets/Student/images/payment-icon/img-05.jpg" alt="img description">
                                        <img src="~/Assets/Student/images/payment-icon/img-06.jpg" alt="img description">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->
    </div>
    <!-- Wrapper End -->
    <!-- Login Popup Start-->
    <div class="modal fade at-loginpopup" tabindex="-1" role="dialog" id="loginpopup" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="at-modalcontent modal-content">
                <div class="at-popuptitle">
                    <h4>Login</h4>
                    <a href="javascript:void(0);" class="at-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal"></i></a>
                </div>
                <div class="modal-body">
                    <form class="at-formtheme at-formlogin">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" name="email" value="" class="form-control" placeholder="Your Email*" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" value="" class="form-control" placeholder="Password*">
                            </div>
                            <div class="form-group at-btnarea">
                                <span class="at-checkbox">
                                    <input id="at-login" type="checkbox" name="rememberme">
                                    <label for="at-login">Remember me here</label>
                                </span>
                                <button type="submit" class="at-btn">login</button>
                            </div>
                        </fieldset>
                    </form>
                    <span class="at-optionsbar"><em>or</em></span>
                    <div class="at-loginicon">
                        <ul>
                            <li><a href="javascript:void(0);" class="at-facebookbox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
                            <li><a href="javascript:void(0);" class="at-googlebox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="at-popup-footerterms">
                        <span>By signing in  you agree to these <a href="javascript:void(0);"> Terms &amp; Conditions</a> &amp; consent to<a href="javascript:void(0);"> Cookie Policy &amp; Privacy Policy.</a></span>
                    </div>
                    <div class="at-loginfooterinfo">
                        <a href="javascript:void(0);"><em>Not a member?</em> Signup Now</a>
                        <a href="javascript:;" class="at-forgot-password">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Popup End-->
    <!-- Register Popup Start-->
    <div class="modal fade at-loginpopup" tabindex="-1" role="dialog" id="registerpopup" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="at-modalcontent modal-content">
                <div class="at-popuptitle">
                    <h4>Register</h4>
                    <a href="javascript:void(0);" class="at-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal"></i></a>
                </div>
                <div class="modal-body">
                    <form class="at-formtheme at-formlogin">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" name="email" value="" class="form-control" placeholder="Your Email*" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" value="" class="form-control" placeholder="Password*">
                            </div>
                            <div class="form-group">
                                <input type="password" value="" class="form-control" placeholder="Retype Password*">
                            </div>
                            <div class="form-group at-btnarea">
                                <button type="submit" class="at-btn">Register</button>
                            </div>
                        </fieldset>
                    </form>
                    <span class="at-optionsbar"><em>or</em></span>
                    <div class="at-loginicon">
                        <ul>
                            <li><a href="javascript:void(0);" class="at-facebookbox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
                            <li><a href="javascript:void(0);" class="at-googlebox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="at-popup-footerterms">
                        <span>By signing in  you agree to these <a href="javascript:void(0);"> Terms &amp; Conditions</a> &amp; consent to<a href="javascript:void(0);"> Cookie Policy &amp; Privacy Policy.</a></span>
                    </div>
                    <div class="at-loginfooterinfo">
                        <a href="javascript:void(0);"><em>Have Account?</em> Login Now</a>
                        <a href="javascript:;" class="at-forgot-password">Forgot Your Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Popup End-->


    @Html.Action("_TraCuuPhongPartial", "Phong")

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
    <script src="~/Assets/Student/js/vendor/jquery-library.js"></script>
    <script src="~/Assets/Student/js/vendor/bootstrap.min.js"></script>
    <script src="~/Assets/Student/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Student/js/moment.min.js"></script>
    <script src="~/Assets/Student/js/fullcalendar.min.js"></script>
    <script src="~/Assets/Student/js/prettyPhoto.js"></script>
    <script src="~/Assets/Student/js/tipso.js"></script>
    <script src="~/Assets/Student/js/readmore.js"></script>
    <script src="~/Assets/Student/js/lightpick.js"></script>
    <script src="~/Assets/Student/js/main-min.js"></script>

    @*Tìm kiếm cơ bản*@
    <script>
    $(document).ready(function() {
        // When the MaLoaiKhu dropdown changes, update the Khu dropdown
        $('#loaiKhu').change(function () {
            var maLoaiKhu = $(this).val();
            if (maLoaiKhu) {
                $.ajax({
                    url: '@Url.Action("GetKhuByLoaiKhu", "Phong")',
                    type: 'GET',
                    data: { maLoaiKhu: maLoaiKhu },
                    success: function(data) {
                        $('#khu').empty().append('<option value="">-- Chọn Khu --</option>');
                        $.each(data, function(index, khu) {
                            $('#khu').append('<option value="' + khu.MaKhu + '">' + khu.TenKhu + '</option>');
                        });
                    }
                });
            } else {
                $('#khu').empty().append('<option value="">-- Chọn Khu --</option>');
                $('#tang').empty().append('<option value="">-- Chọn Tầng --</option>');
            }
        });

        // When the MaKhu dropdown changes, update the Tang dropdown
        $('#khu').change(function() {
            var maKhu = $(this).val();
            if (maKhu) {
                $.ajax({
                    url: '@Url.Action("GetTangByKhu", "Phong")',
                    type: 'GET',
                    data: { maKhu: maKhu },
                    success: function(data) {
                        $('#tang').empty().append('<option value="">-- Chọn Tầng --</option>');
                        $.each(data, function(index, tang) {
                            $('#tang').append('<option value="' + tang.MaTang + '">' + tang.TenTang + '</option>');
                        });
                    }
                });
            } else {
                $('#tang').empty().append('<option value="">-- Chọn Tầng --</option>');
            }
        });
    });
    </script>

    @*Tìm kiếm nâng cao*@
    <script>
   $(document).ready(function() {
       // When the MaLoaiKhu dropdown changes, update the Khu dropdown
       $('#loaiKhus').change(function () {
           var maLoaiKhu = $(this).val();
           if (maLoaiKhu) {
               $.ajax({
                   url: '@Url.Action("GetKhuByLoaiKhu", "Phong")',
                   type: 'GET',
                   data: { maLoaiKhu: maLoaiKhu },
                   success: function(data) {
                       $('#khus').empty().append('<option value="">-- Chọn Khu --</option>');
                       $.each(data, function(index, khu) {
                           $('#khus').append('<option value="' + khu.MaKhu + '">' + khu.TenKhu + '</option>');
                       });
                   }
               });
           } else {
               $('#khus').empty().append('<option value="">-- Chọn Khu --</option>');
               $('#tangs').empty().append('<option value="">-- Chọn Tầng --</option>');
           }
       });

       // When the MaKhu dropdown changes, update the Tang dropdown
       $('#khus').change(function() {
           var maKhu = $(this).val();
           if (maKhu) {
               $.ajax({
                   url: '@Url.Action("GetTangByKhu", "Phong")',
                   type: 'GET',
                   data: { maKhu: maKhu },
                   success: function(data) {
                       $('#tangs').empty().append('<option value="">-- Chọn Tầng --</option>');
                       $.each(data, function(index, tang) {
                           $('#tangs').append('<option value="' + tang.MaTang + '">' + tang.TenTang + '</option>');
                       });
                   }
               });
           } else {
               $('#tangs').empty().append('<option value="">-- Chọn Tầng --</option>');
           }
       });
   });
    </script>

    @* Thông báo toast*@
    <script>
    $(document).ready(function () {
        var toastMessage = '@TempData["ToastMessage"]';

        if (toastMessage) {
            var parts = toastMessage.split('|');
            if (parts.length === 2) {
                var toastType = parts[0];
                var message = parts[1];

                // Cấu hình Toastr để hiển thị ở góc dưới bên phải
                toastr.options.positionClass = 'toast-bottom-right';

                switch (toastType) {
                    case 'success':
                        toastr.success(message);
                        break;
                    case 'error':
                        toastr.error(message);
                        break;
                    case 'info':
                        toastr.info(message);
                        break;
                    case 'warning':
                        toastr.warning(message);
                        break;
                }
            }
        }
    });
    </script>
</body>
</html>